/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full overflow-hidden;
}

.alert {
	@apply my-3;
}

.input-label {
	@apply my-1;
}
